{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "browser": true,
  },
  "globals": {
  },
  "rules": {
    "array-bracket-spacing": 0,
    "camelcase": 0,
    "comma-dangle": [2, "always-multiline"],
    "complexity": [2, 6],
    "consistent-return": 2,
    "curly": [2, "multi-line", "consistent"],
    "dot-location": [2, "property"],
    "dot-notation": 2,
    "eqeqeq": [2, "allow-null"],
    "guard-for-in": 2,
    "jsx-boolean-value": 0,
    "jsx-quotes": [2, "prefer-single"],
    "key-spacing": 0,
    "max-depth": [2, 3],
    "max-len": [2, 120, 2],
    "max-params": [2, 3],
    "max-statements": [2, 15],
    "no-case-declarations": 2,
    "no-duplicate-imports": 0,
    "no-else-return": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-fallthrough": 2,
    "no-implied-eval": 2,
    "no-loop-func": 2,
    "no-magic-numbers": [2, {ignore: [0, 1, -1]}],
    "no-multi-spaces": 2,
    "no-multi-str": 0,
    "no-native-reassign": 2,
    "no-shadow": 2,
    "no-unexpected-multiline": 2,
    "no-unused-expressions": 0,
    "one-var": [2, "never"],
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "never"],

    "import/first": 0,
    "import/no-webpack-loader-syntax": 0,

    "react/jsx-closing-bracket-location": [2, 'line-aligned'],
    "react/jsx-closing-tag-location": 2,
    "react/jsx-indent": [2, 2],
    "react/jsx-key": 2,
    "react/jsx-no-bind": 2,
    "react/jsx-space-before-closing": 0,
    "react/jsx-wrap-multilines": 2,
    "react/no-deprecated": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-unused-prop-types": 0,
    "react/react-in-jsx-scope": 2,
    "react/sort-comp": 2,
    "space-before-function-paren": 2
  }
}
